{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["../deploy/**/*.sh", "*.sh"],
      "options": {
        "parser": "sh",
        "keepComments": true,
        "tabWidth": 2,
        "indentWithTabs": false
      }
    }
  ]
}