<!DOCTYPE html>
<html>
<body>
<h1>mywebapp &mdash; Task Tracker</h1>
<ul>
  <li>GET /tasks &mdash; get all tasks</li>
  <li>POST /tasks &mdash; create a new task</li>
  <li>POST /tasks/:id/done &mdash; mark task as done</li>
</ul>
</body>
</html>
